body {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    color: #373867;
}

nav {
    padding: 47px;
}

nav ul {
    float: right;
    display: flex;
}

.landing-header {
    position: relative;
    width: 80%;
    height: 80px;
    float: right;
    border-bottom: 2px solid;
}

.landing-header a {
    position: relative;
    float: left;
    margin-left: 8px;
    height: 200px;

}

#sidebar {
    position:fixed;
    width: 20%;
    height: 100%;
    float: left;
    background-color: #AFAFC2;
}

.iconomenu {
    float: right;
    padding: 13px;
    font-size: 30px;
}

#sidebar p {
    font-weight: bold;
    padding: 20px;
    font-size: 21px;
}

.coustume-p {
    padding: 9px 48px 33px 43px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

#sidebar ul {
    padding: 5px 28px 23px 33px;
    text-transform: capitalize;
    border-bottom: 2px solid;
}

#sidebar ul li {
    margin-bottom: 8px;
}

.home {
    display: table;
}

.land-home {
    position: relative;
    width: 79%;
    height: 80px;
    float: right;

}

h1 {
    font-size: 42px;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
}

.land-home h2 {
    text-transform: uppercase;
    margin: 6px 16px 22px 26px;
    font-weight: 500;
}

.land-home p {
    width: 50%;
    height: 80px;
    float: left;
    padding-bottom: 3px 30px 50px 26px;
}

.land-home button {
    font-size: 14px;
    padding: 20px 80px;
    background-color: white;
    color: #373867;
    border: 1px solid #373867;
    text-transform: uppercase;
    float: left;
}

.img-home {
    float: right;
    width: 35%;
    height: 800px;
    margin: 1%;
}

.history {
    position: relative;
    width: 79%;
    height: 80px;
    float: right;
}

.history h2{
    font-size: 42px;
    font-weight: bold;
    padding: 30px;
}

.img1-history {
    position: relative;
    float: left;
    width: 250px;
    padding: 45px;
    height: 200px;
    padding: 30px;
    display: inline-block;
}

.p1lorem {
    position: relative;
    float: right;
    width: 50%;
    padding: 30px 30px 17px 26px;
    vertical-align: text-top;
    display: inline-block;
}

.p2lorem {
    position: relative;
    float: left;
    width: 50%;
    padding: 30px 30px 17px 26px;
    vertical-align: text-top;
    display: inline-block;
}

.img2history {
    float: right;
    width: 200px;
    padding: 300px;
    height: 2500px;
    padding: 350px 30px 17px 26px;
    display: inline-block;
}

.functionalities{
    display: table;
    position: relative;
    width: 80%;
    height: 80px;
    float: right;
}

.functionalities h2{
    font-size: 42px;
    font-weight: bold;
    padding: 30px;
}

.functionalities h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
}

.reasons {
    display: table;
    position: relative;
    width: 80%;
    height: 80px;
    float: right;
}

.reasons h2{
    font-size: 42px;
    font-weight: bold;
    padding: 30px;
}

.reasons h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
}

.request {
    display: table;
    position: relative;
    width: 80%;
    height: 80px;
    float: right;
}

footer {
    width: 80%;
    float: right;
    text-align: center;
}

footer a {
    position: relative;
    float: left;
    height: 200px;
}

footer p {
    font-size: 12px;
    color: black;
}