.home {
    display: flex;
    flex-direction: column-reverse;
    padding: 6%;
}

.home h1 {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 56px;
}

.home h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 14px;
}

.home p {
    margin-bottom: 60px;
}

.home img {
    width: 100%;
}

.home button {
    font-size: 14px;
    padding: 20px 80px;
    background-color: #AACE9B;
    color: #373867;
    text-transform: uppercase;
    border-radius: 10px;
    margin-left: 35%;
}

.history {
    display: flex;
    padding: 15%;
}

.history h2 {
    display: none;
}

.history h3 {
    font-size: 24px;
    margin-bottom: 20px; 
    color: #000000;
}

.history p {
    font-size: 30px;
    margin-bottom: 35px;
    height: 250px;
    overflow: hidden;
}

.history img {
    width: 100%;
    margin-bottom: 35px;
    border-radius: 20px;
}

.history button {
    font-size: 14px;
    padding: 20px 80px;
    background-color: #F11A41;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 35px;
}

.functionalities, .reasons {
    display: flex;
    padding: 6%;
}


.functionalities h2, .reasons h2 {
    text-align: center;
    font-size: 41px;
    margin-bottom: 46px;
}

.functionalities h3, .reasons h3 {
    font-size: 37px;
    margin-bottom: 20px; 
}

.functionalities p, .reasons p {
    font-size: 30px;
}

.functionalities img, .reasons img {
    width: 28%;
}

.col-mid {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 35px;
}

.text-col {
    margin: 0px 0px 0px 29px;
}

.request {
    display: flex;
    text-align: center;
    padding: 6%;
    flex-direction: column;
    background-color: yellow;
    align-items: center;
}

.reasons line-h2 {
    display: flex;
    text-align: center;
    Overflow: hidden
}

.request h2 {
    font-size: 45px;
    padding: 10px;
    color: #000000;
}
.request-line1, .request-line2 {
    width: 90%;
    border: solid 2px;
    color: #F11A41;
}

.input-form {
    padding: 10px;
    border-radius: 7px;
    width: 100%;
}

.col-mid-req {
    width: 100%;
    display: inline-grid;
    text-align: initial;
    background-color: #F6F3F3;
    margin-bottom: 15px;
}

.col-mid-email {
    width: 100%;
    display: inline-grid;
    text-align: initial;

}

.col-mid-email input[type='email']{
    background-color: #F6F3F3;

}

.select-form {
    width: 100%;
    display: inline-grid;
    text-align: in;
    background-color: #F6F3F3;
}

.textarea-div {
    display: inline-grid;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
}

.textarea-div label {
    text-align: right;
    padding-top: 10px;
    margin-right: 65px;
}

textarea {
    padding: 20px;
    height: 160px;
    background-color: #F6F3F3;
}

.request label message {
    display: none;
}

.btn-1, .btn-2 {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F11A41;
}

.btn-1 {
    background: #F11A41;
    color: white;

}

.btn-2 {
    background: white;
    color: #F11A41;

}