body {
    font-family: "Roboto", "Times New Roman", Times, serif;
    color: #373867;
   }
   
   nav {
    padding: 47px;
   }
   
h1, h2, h3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

   nav ul {
    float: right;
    display: flex;
   }
   
   .landing-header {
    position: relative;
    width: 79%;
    height: 80px;
    float: right;
   }
 
   .landing-header a {
    position: relative;
    float: left;
    margin-left: 8px;
    height: 200px;
   }

    .line {
    width: 90%;
    border: solid 1px;
    margin: auto;
   }

   #sidebar {
    top: 0;
    left: 0;
    position: fixed;
    width: 20%;
    height: 100%;
    float: left;
    background-color: #afafc2;
   }
   
   .iconomenu {
    float: right;
    padding: 13px;
    font-size: 30px;
   }
   
   #sidebar p {
    font-weight: bold;
    padding: 20px;
    font-size: 21px;
   }
   
   .menu-p {
    padding: 9px 48px 33px 43px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    font-size: 14px !important;
   }
   
   .line-menu {
    width: 60%;
    border: solid 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    }

   #sidebar ul {
    padding: 5px 28px 23px 33px;
    display: contents;
    text-transform: capitalize;
    border-bottom: 2px solid;
   }
   
   #sidebar ul li {
    margin-bottom: 8px;
    margin-left: 30px;
   }
   
   .home {
    display: table;
    margin-bottom: 187px;
   }
   
   .land-home {
    position: relative;
    width: 79%;
    height: 100px;
    float: right;
   }
   
   h1 {
    font-size: 42px;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
   }
   
   .land-home h2 {
    text-transform: uppercase;
    margin: 6px 16px 22px 26px;
    font-weight: 500;
   }
   
   .land-home p {
    width: 50%;
    padding: 3px 30px 50px 26px;
   }
   
   .land-home button {
    font-size: 14px;
    padding: 20px 80px;
    background-color: white;
    color: #373867;
    border: 1px solid #373867;
    text-transform: uppercase;
    float: left;
    margin-left: 26px;
   }
   
   .img-home {
    float: right;
    width: 35%;
    margin: 1%;
   }
   
   .history {
    display: table;
    margin-bottom: 187px;
    height: 350px;
   }

   .land-history {
    position: relative;
    width: 79%;
    height: 100px;
    float: right;
   }

   .land-history h2 {
    font-size: 42px;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
   }
   
   .column1-history {
    width: 100%;
    display: table;
   }

   .column1-history img {
    float: left;
    margin-left: 31px;
    width: 31%;
   }

   .column1-history p {
    float: left;
    width: 64%;
    margin-left: 11px;
   }

   .column2-history {
    width: 100%;
    display: table;
   }

   .column2-history p {
    float: left;
    width: 62%;
    margin-left: 31px;
    margin-top: 10px;
   }
   
   .column2-history img {
    float: right;
    margin-right: 31px;
    width: 30%;
   }
   
   .functionalities {
    display: table;
    margin-bottom: 187px;
    height: 350px;
   }
   
   .functionalities h2 {
    font-size: 42px;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
   }
   
   .functionalities-parts {
    position: relative;
    width: 78%;
    height: 100px;
    float: right;
   }

   .row {
    width: 100%;
    display: flex;
    padding: 34px;
   }

   .col-mid {
    width: 50%;
   }

   .col-mid h3 {
    font-size: 20px;
    margin-bottom: 10px;
   }

   .col-mid img {
    width: 30%;
   }

   .text-col {
    width: 50%;
    float: right;
    margin-right: 74px;
   }
   
   .reasons {
    display: table;
    position: relative;
    width: 79%;
    height: 80px;
    float: right;
   }
   
   .reasons h2 {
    font-size: 42px;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
   }
   
   .request {
    display: table;
    position: relative;
    width: 79%;
    height: 80px;
    float: right;
    text-align: center;
    margin-bottom: 50px;
   }

   .request h2 {
    font-size: 42px;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
    color: #231F20;
   }

   .request-line {
    width: 16%;
    border: solid 2px;
    margin-left: 420px;
    color: #F56A6A;
   }

   .input-form {
    padding: 10px;
    border-radius: 7px;
    width: 60%;
   }

   .col-mid-email {
    width: 50%;
    display: inline-grid;
    text-align: initial;
   }

   .select-form {
    width: 73%;
    display: inline-grid;
    text-align: initial;
    margin-right: 31px;
    padding: 10px;
    border-radius: 7px;
    background: none;
    margin-bottom: 80px;
   }

   .textarea-div {
    display: inline-grid;
    width: 74%;
    padding: 20px;
   }

   .textarea-div label {
    text-align: right;
    padding-top: 10px;
    margin-right: 65px;
   }

   textarea {
    padding: 20px;
    height: 160px;
   }

   .btn {
    padding: 10px;
    border-radius: 10px;
    background: #f98181;
    color: white;
    border: 1px solid #222248;
    margin-left: 20px;
   }
   
   footer {
    width: 79%;
    float: right;
    text-align: center;
   }

    .col-md-3 {
    width: 33%;
    float: right;
    margin-bottom: 60px;
    font-size: 16px;
   }

   .col-md-3 li {
    margin: 10px;
   }
   
   .col-md-3 h2 {
    margin: 25px;
    font-size: 20px;
   }

    footer button {
    margin-bottom: 20px;
}

   footer a {
    display: inline-block;
    text-align: center;
    position: relative;
    height: 100px;
    float: left;
    margin-right: 8px;
}

   footer p {
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 30px;
   }