footer {
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
    width: 100%;
    flex-direction: column;
    height: 200px;
}

footer ul {
    display: flex;
    align-content: center;
    padding: none;
    justify-content: center;
   }
   footer ul li {
    margin-left: 10px;
   }

   footer ul li a i{
    font-size: 40px;
   }

footer a {
    display: inline-block;
    height: 100px;
    float: left;
    font-size: 20px;
    margin-right: 8px;
    text-align: center;
    position: relative;
}

footer p {
    font-size: 28px;
    color: black;
    text-align: center;
    padding-top: 30px;
}