.home {
    display: flex;
    flex-direction: column-reverse;
    padding: 6%;
    margin-top: 90px;
}

.home h1 {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 56px;
}

.home h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 14px;
}

.home p {
    margin-bottom: 60px;
}

.home img {
    width: 100%;
}

.home button {
    font-size: 35px;
    padding: 20px 80px;
    background-color: #AACE9B;
    color: #373867;
    text-transform: uppercase;
    border-radius: 10px;
    margin-left: 30%;
}

.history {
    display: flex;
    padding: 15%;
}

.history h2 {
    display: none;
}

.history h3 {
    font-size: 24px;
    margin-bottom: 20px; 
    color: #000000;
}

.history p {
    font-size: 30px;
    margin-bottom: 35px;
    height: 250px;
    overflow: hidden;
}

.history img {
    width: 100%;
    margin-bottom: 35px;
    border-radius: 20px;
}

.history button {
    font-size: 25px;
    padding: 20px 80px;
    background-color: #F11A41;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 35px;
}

.functionalities, .reasons {
    display: flex;
    padding: 6%;
}


.functionalities h2, .reasons h2 {
    text-align: center;
    font-size: 41px;
    margin-bottom: 46px;
    font-weight: bold;
}

.functionalities h3, .reasons h3 {
    font-size: 37px;
    margin-bottom: 20px; 
}

.functionalities p, .reasons p {
    font-size: 30px;
}

.functionalities img, .reasons img {
    width: 24%;
}

.col-mid {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 15%;
}

.text-col {
    margin: 0px 0px 0px 29px;
}

.request {
    display: flex;
    text-align: center;
    padding: 10%;
    flex-direction: column;
    align-items: center;
}

.request-parts {
    overflow: hidden;
    width: 93%;
}

.reasons line-h2 {
    display: flex;
    text-align: center;
    Overflow: hidden
}

.request h2 {
    font-size: 25px;
    padding: 10px;
    color: #000000;
}
.request-line1, .request-line2 {
    width: 90%;
    border: solid 2px;
    color: #F11A41;
}

.input-form {
    padding: 10px;
    border-radius: 7px;
    width: 100%;
}

.col-mid-req {
    width: 100%;
    display: inline-grid;
    text-align: initial;
    margin-bottom: 30px;
    margin-top: 30px;
}

.col-mid-req input {
    background-color: #F6F3F3;
    padding: 18px;
    font-size: 21px;
    font-weight: bold;
}

.col-mid-email {
    width: 100%;
    display: inline-grid;
    text-align: initial;

}

.col-mid-email input[type='email']{
    background-color: #F6F3F3;
    padding: 18px;
    font-size: 21px;
    font-weight: bold;

}
.col-mid-email label {
    display: none;
}

.select-form {
    background-color: #F6F3F3;
    padding: 18px;
    font-size: 21px;
    font-weight: bold;
}

.textarea-div {
    display: inline-grid;
    width: 100%;
    margin-bottom: 15px;
}

.textarea-div label {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textarea-div input {
    font-size: 20px;
}

textarea {
    padding: 20px;
    height: 160px;
    background-color: #F6F3F3;
}

.request label message {
    display: none;
}

.btn-1, .btn-2 {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F11A41;
    font-size: 27px;
    padding: 20px;
    margin-right: 120px;
}

.btn-1 {
    background: #F11A41;
    color: white;

}

.btn-2 {
    background: #EDEDED;
    color: #F11A41;

}

.mobile{
    display: flex;
    justify-content: center;
}
.mobile .btn-2{
    float: right;
    
}

.mobile .btn-1{
    float: left;
}

.list {
    display: flex;
    width: 100%;
    float: right;
    text-align: center;
    flex-direction: column;
   }

.col-md-3 {
    width: 100%;
    float: center;
    margin-bottom: 60px;
    text-align: start;
    color: #496EF1;
}

.col-md-3 li {
    margin: 14px;
    margin-left: 20%;
    font-size: 26px;
}
   
.col-md-3 h2 {
    margin: 25px;
    font-size: 46px;
    color: #373867;
    padding: 2%;
    margin-left: 20%;
}

.list line {
    width: 80%;
    border: solid 2px;
    background-color: #000000;
}

.list button {
    display: none;
    margin-bottom: 20px;
}